@model string

@if (!string.IsNullOrEmpty(Model))
{
    <ul tabindex="0"
        class="menu menu-md space-y-2 dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-2 shadow">
        @if (Model == "Admin")
        {
            <li><a asp-page="/Index">Home</a></li>
            <li>
                <details>
                    <summary>Packages</summary>
                    <ul class="p-2">
                        <li><a asp-page="/PackageDelivery">Package Delivery</a></li>
                        <li><a asp-page="/UnknownPackageDelivery">Unknown Package</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details>
                    <summary>Users</summary>
                    <ul class="p-2">
                        <li><a asp-page="/ManageUsers/Index">List</a></li>
                        <li><a asp-page="/ManageUsers/Create">Create</a></li>
                    </ul>
                </details>
            </li>
        }
        <li><a asp-page="/Logout">Logout</a></li>
    </ul>
}