@page
@model Mailroom.Pages.User.EditModel

@{
    ViewData["Title"] = "Edit";
    ViewData["Meta"] = "Edit an existing user";
}

<h2>Edit User</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EditUser.UserId"/>
            <div class="form-group mb-2">
                <label asp-for="EditUser.First_Name" class="control-label"></label>
                <input asp-for="EditUser.First_Name" class="form-control"/>
                <span asp-validation-for="EditUser.First_Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="EditUser.Last_Name" class="control-label"></label>
                <input asp-for="EditUser.Last_Name" class="form-control"/>
                <span asp-validation-for="EditUser.Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="EditUser.Email" class="control-label"></label>
                <input asp-for="EditUser.Email" class="form-control"/>
                <span asp-validation-for="EditUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="EditUser.Password" class="control-label"></label>
                <input asp-for="EditUser.Password" type="password" class="form-control"
                       placeholder="Leave blank to keep password unchanged"/>
                <span asp-validation-for="EditUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="EditUser.Building" class="control-label"></label>
                <input asp-for="EditUser.Building" class="form-control"/>
                <span asp-validation-for="EditUser.Building" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="EditUser.Unit" class="control-label"></label>
                <input asp-for="EditUser.Unit" class="form-control"/>
                <span asp-validation-for="EditUser.Unit" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="EditUser.Role" class="control-label"></label>
                <select asp-for="EditUser.Role" class="form-control">
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
                </select>
                <span asp-validation-for="EditUser.Role" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
