@page
@model UnknownPackageDelivery
@{
    ViewData["Title"] = "New unknown package";
    ViewData["Meta"] = "Add a new unknown package to the system";
}

<h2>New unknown package</h2>
<hr/>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3 col-sm-4">
        <label asp-for="UnknownPackage.FullName" class="form-label">Full Name</label>
        <input type="text" class="form-control form-control" asp-for="UnknownPackage.FullName" placeholder="John Doe">
        <span asp-validation-for="UnknownPackage.FullName" class="text-danger"></span>
    </div>
    <div class="mb-3 col-sm-4">
        <label asp-for="UnknownPackage.Carrier" class="form-label">Carrier</label>
        <input type="text" class="form-control form-control" asp-for="UnknownPackage.Carrier" placeholder="USPS, FedEx, etc.">
        <span asp-validation-for="UnknownPackage.Carrier" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Ok</button>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}